.App {
  text-align: center;
  background-color: black;
}

.App-header{
  background-color: #8d80af;
  background-size: "cover";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.browser-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.image-div {
  padding: 20px;
}

.browser-image {
  padding: 10px;
  width: 100px;
 
}

.image-holder {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50%;
  width: 50%;
}


.Home{
  display: flex;
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 
 
}


.Trends{
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  /* text-align: center; */
  justify-items: center;
  display: flex;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 

}



.Overview{
  display: flex;
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 
 
}

.DatabaseBrowsing{
  display: flex;
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 
 

}

.Trends{
  display: flex;
  flex-direction: 'row';
  align-items: 'center';
  justify-content: 'center';

}

.TrendButtons{

  display: 'flex';
  align-items: 'center';
  justify-content: 'center';


}


/* putting the graph in a row with selector */

.TrendA{

  display:flex; 
  flex-direction:row;

}

.TrendB{
  
  display:flex; 
  flex-direction:row;

}
.TrendC{

  display:flex; 
  flex-direction:row;

}
.TrendD{

  display:flex; 
  flex-direction:row;

}

.DateSlider{
  display:flex; 
  margin-top: auto;
  justify-self: center;
  justify-content: center;

  

}



.box {
  
  margin: 150px auto;
  border-radius: 15px;
  background: #4B9CD3;
  opacity: 90%;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
  width: 350px;
  height: 300px;
  left: -170px;
  -webkit-box-shadow: 2px 2px 4px yellow;
  -moz-box-shadow: 2px 2px 4px yellow;
  box-shadow: 2px 2px 4px yellow;
}




.sb:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #4B9CD3;
  border-top: 15px solid #4B9CD3;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
  
}

.p.sb{
  font-weight: normal;
}

.float-area{
  border-bottom: 10px ;
  display: flex;
  height: 500px;
  width: 30%;
  flex-direction:column;
  justify-content: center;

}
.floating-img{
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
  
}

@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}