.App {
  text-align: center;
  background-color: black;
}

.App-header{
  background-color: #8d80af;
  background-size: "cover";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.browser-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.image-div {
  padding: 20px;
}

.browser-image {
  padding: 10px;
  width: 100px;
 
}

.image-holder {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50%;
  width: 50%;
}


.Home{
  display: flex;
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 
 
}


.Trends{
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  /* text-align: center; */
  justify-items: center;
  display: flex;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 

}



.Overview{
  display: flex;
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 
 
}

.DatabaseBrowsing{
  display: flex;
  background-image: 
  url(
"https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=913&q=80");
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  height: 100vh;
  background-repeat:no-repeat; 
 

}


.Trends{

  display: flex;
  flex-direction: 'row';
  align-items: 'center';
  justify-content: 'center';

}

.TrendButtons{

  display: 'flex';
  align-items: 'center';
  justify-content: 'center';


}


/* putting the graph in a row with selector */

.TrendA{

  display:flex; 
  flex-direction:row;

}

.TrendB{
  
  display:flex; 
  flex-direction:row;

}
.TrendC{

  display:flex; 
  flex-direction:row;

}
.TrendD{

  display:flex; 
  flex-direction:row;

}

.DateSlider{
  display:flex; 
  margin-top: auto;
  justify-self: center;
  justify-content: center;

  

}